.max-width {
  max-width: 1440px;
  margin: 0 auto;
}
img {
  height: 60px;
}
.letter {
  font-family: "Days One", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
}

.ucv-bot {
  margin-left: 4px;
  font-size: 2em;
  margin-top: 15px;
}

.blue {
  color: #080939;
}

.red {
  color: #dc3232;
}