<div class="card">
    <div class="card-body">
        <h4 class="card-title">MENSAJES</h4>
        <h5 class="card-subtitle">CANTIDAD MENSAJE POR USUARIO</h5>
        <div class="feed-widget mt-4">
            <ul class="list-unstyled feed-body m-0">
                <li class="salesSummary-item d-flex align-items-center mb-3" *ngFor='let salesSummary of salesSummary'>
                    <div class="salesSummary-icon round round-sm text-white d-flex align-items-center justify-content-center rounded-circle {{salesSummary.class}}">
                        <i class={{salesSummary.icon}}></i>
                    </div>
                    <h5 class="mb-0 fw-normal ms-3">{{salesSummary.task}}</h5>
                    <span class="ms-auto fs-2"> {{salesSummary.time}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>