/* Reset Password Container */
.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #002f6c;
}

/* Reset Password Box */
.reset-password-box {
  width: 100%;
  max-width: 400px; /* Ancho máximo del formulario */
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Reset Password Header */
.reset-password-header {
  text-align: center;
}

.logo {
  width: 50px;
}

/* Reset Password Form */
.reset-password-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Reset Password Button */
.reset-password-button {
  width: 100%;
  padding: 10px;
  background-color: #002f6c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reset-password-button:hover {
  background-color: #001f4c;
}

/* Back to Login Link */
.back-to-login {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #007bff;
  text-decoration: none;
}
